#navList{
    list-style: none;
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    align-items: center;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: #d4dfed;
}

.navContainer{
    width: 100vw;
    background: #93D7E2;
background: linear-gradient(315deg, #93D7E2, #032AEF);
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#navLogo{
    font-size: 1.8rem;
    color: white;
    
}

a{
    text-decoration: none;
    color: azure;
}
nav{
    width: 100%;
}

#navItems{
    display: flex;
    gap: 10px;
    
}

.footerbox{
background: #93D7E2;
background: linear-gradient(315deg, #93D7E2, #032AEF);
color: azure;
text-align: center;
min-height: 30px;
}

.footerbox p{
    color: azure;
    font-size: 1rem;
}

.contentbox{
    width: 70%;
    margin: auto;
    border: 1px solid black;
    background-color: white;
}

.item{
    display: flex;
    justify-content: space-between;
}

.rightbox img{
    height: 400px;
}

.barfi{
    width: 400px;
}

