.container{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    text-align: center;
    /*height: 400px;
    width: 600px;*/
    background-color: bisque;
}

.box{
    background-color: rgb(226, 99, 120);
    border: 2px solid black;
    
}